/* Your code here */

.pf {
  display:grid;
  grid-template: repeat(2,50%) / repeat(4,25%);
}

.wgs {
  width:640px;
  height:482px;
  display:inline-block;
  position:relative;
  overflow:hidden;
}

.wgs__mole-head {
  position:absolute;
  width: 376px;
  height: 356px;
  top:0px;
  left:109px;
  transition: 0.25s;
  cursor:pointer;
}

.wgs__dirt-pile {
  position:absolute;
  width:640px;
  height:220px;
  top:262px;
  left:0px;
}

.wgs__mole-head--hidden {
  margin-top:482px;
}

.wgs__mole-head--whacked {
  animation-name: shake;
  animation-duration: 0.25s;
}


@keyframes shake {
  0% { transform: rotate(0deg);}
  10% { transform: rotate(10deg); }
  20% { transform: rotate(-15deg);}
  30% { transform: rotate(10deg);}
  40% { transform: rotate(-20deg);}
  50% { transform: rotate(8deg);}
  60% { transform: rotate(-12deg);}
  70% { transform: rotate(15deg);}
  80% { transform: rotate(-5deg);}
  90% { transform: rotate(20deg);}
  100% { transform: rotate(-9deg);}
}


/* UNCOMMENT THE CODE BELOW WHEN DIRECTED */
.sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645DED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-family: sans-serif;
}

.sb__mole-counter {
  flex: 1 0 0;
  text-align: right;
}

.sb__score-holder {
  flex: 1 0 0;
}

.sb__game-over--hidden {
  display: none;
}
